/*This is a basic style for abput me page*/
body{
    background-color: BlanchedAlmond;
}
.bio{
    color: midnightblue;
    text-decoration: underline;
    font-weight: bold;
}
h3{
    color: cornflowerblue;
}
span{
    font-style: italic;
}
h1{
color:red;
}



